.CarType
{
    .CarType_Header
    {
         h3 
         {
            width: fit-content;
            font-size: 24px;
            font-weight: bold;
            color: #3a1b50;
         }
        .line
        {
            width: 60%;
            height: 2px;
            background-color: #3a1b50;
        }
        .ViewAll
        {
            background-color: #E6F6FF;
            color: rgb(95, 95, 95);
            padding: 10px 40px;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 100;
        }
        @media screen and (max-width: 550px) {
            flex-direction: column;
            .ViewAll
            {
                margin-top: 10px;
            }
        }
    }
    p 
    {
        font-size: 12px;
    }
    .collapsed {
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap; 
        // color: red;
        // background-color: #3a1b50;
        height: 40px;
      }
      
      .expanded {
        overflow: visible;
        height: auto;
      }
      .read_more
      {
       cursor: pointer;
      }
}