$forth:#3D1F50;
$fifth:#E6F6FF;
$second:#000000;
$third:#000000;
$main:#000000;
.content
{
    .list-group
    {
        border-radius: 20px;
        // box-shadow:  0 5px 10px rgba(0, 0, 0, 0.164);
       .list-group-item
       {
        font-size: 20px;
        color: #3C1D4E;
        p,label,input
        {
        cursor: pointer;
        }
        i 
        {
            color: #E6F6FF;
            // margin-bottom: 10px;
            font-size: 50px;

        }
       } 
    }
    .nav-pills
    {
        box-shadow:  0 0 5px rgba(0, 0, 0, 0.062);
        background-color: #E6F6FF;
        border-top-left-radius:60px ;
        border-top-right-radius:60px ;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        li 
        {
            // background-color: #3C1D4E;
            width: 100%;
            text-align: center;
            color: #3C1D4E;
            padding: 22px 0;
            cursor: pointer;
        }
        // overflow: hidden;
        // width: 300px;
        // background-color: #3C1D4E;
        div 
        {
        //    40px;
            border: none;
            width: 100%;
            // background-color: #3C1D4E;
            background-color: #3C1D4E;
            // background-color: transparent;
            border-color: white !important;
        }
        .active
        {
            background-color: white;
        }
    }
    .tab-content
    {
        box-shadow:  0 5px 7px rgba(0, 0, 0, 0.04);
        padding: 0;
        margin-top: 0px;
        // background-color: aqua;
        // width: 100%;
        .list-group
        {
            border-radius: 0;
        }
        label
        {
            color: #ababab;
        }
    .card 
    {
        box-shadow:  0 0 7px rgba(0, 0, 0, 0.088);
        border-radius: 10px;
        border: none;
        margin: 10px;
        img 
        {
            object-fit: cover
        }
        .Featured
        {
            background-color: $main;
            margin-left: 5px;
        }
        .Premium
        {
            background-color: $second;
            margin-left: 5px;
        }
        .Verified
        {
            background-color: $third;
            margin-left: 5px;
        }
        .Save_to_wishlist
        {
            background-color: $fifth;
            font-weight: 600;
            margin-right: 5px;
        }
    }
        .feature_details
        {
            ul 
            {
                list-style: none;
                li 
                {
                    margin-bottom: 10px;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
            .pricing
            {
                li 
                {
                    text-align: center;
                    background-color: #E6F6FF;
                    padding: 0px 18px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #3C1D4E;
                    display: flex;
                    flex-direction: column;

                }
              
            }
        }
  
        .contact
        {
           ul
           {
            li 
            {
             display: flex;
             align-items: center;
                i 
                {
                    background-color: $fifth;
                    color: $forth;
                    // padding: 5px;
                    position: relative;
                    cursor: pointer;
                    margin-right: 5px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                   justify-content: center;
                   align-items: center;
                   border-radius: 50%;
                   .ex-categor
                   {
                    position: absolute;
                    padding: 2px 20px;
                    background: #ffffff;
                    border-radius: 20px;
                    opacity: 0;
                    top: -20px;
                    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
                    transition: all .2s;
                    a 
                    {
                        margin: 5px 0;
                        font-size: 10px;
                        font-weight: 700;
                        color: $forth;
                        text-decoration: none;
                    }
                   }
                   .ex-categor::before
                    {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        transform: translateX(-50%) rotate(45deg);
                        background-color: #ffffff;
                        bottom: -5px;
                        left: 50%;
                    }
                }
                i:hover .ex-categor
                    {
                        opacity: 1;
                        top: -30px;
                        transition: .5s cubic-bezier(0.68,-0.55,0.265,1.55);
                    }
                span 
                {
                    font-size: 12px;
                    font-weight: 600;
                    color: $forth;
                }
            }
            .imgLogo
            {
             background-color: transparent;
                img 
                {
                    width: 70px;
                    margin-top: 15px;
                }
            }
           } 
        }
     
           .Back_To_Home
           {
               text-decoration: none;
               background-color: #3C1D4E;
               width: 250px;
               color: white;
               text-align: center;
               font-weight: bold;
               padding: 5px 0;
           }
        
    }

    @media screen and (max-width:992px) {
     .tableAccount
     {
        margin-top: 20px;
     }
        
    }
}