.Testimonials
{
    .container
    {
    border-top: 1px solid #3A1B50;
    padding-top: 20px;
    p 
    {
        font-size: 18px;
        color: rgb(109, 109, 109);
        margin-bottom: 0;
    }
    h2 
    {
        font-size: 40px;
        font-weight: bolder;
    }
    
   .slider_pro
   {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
    img.one
    {
        width: 40px;
        height: 40px;
    }
    img 
    {
        width: 30px;
        height: 30px;
    }
    .Name
    {
        text-align: center;
        color: rgb(86, 86, 86);
        h5 
        {
            font-size: 18px;
        }
        h6 
        {
            font-size: 14px;
        }
    }
    .info 
    {
        .rating
        {
            li 
            {
                color: rgb(232, 232, 11);
            }
        }
    }
   
   } 
}

}