.Auth
{
    z-index: 9999999;
    background-color: #3a1b5094;
    .form_content
    {
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        width: 60%;
        
        h6
        {
            background-color: #E6F6FF;
            padding: 10px 0;
            text-align: center;
            font-weight: 400;
            .close_Window
            {
                cursor: pointer;
            }
        }
        form 
        {
            text-align: center;
            max-height: 600px;
            overflow: auto;
            padding: 10px 0;
            width: 60%;
            margin: auto;
            .inputsForm
            {
              border: none;
              background-color: #E6F6FF;
              width: 100%;
              padding: 10px;
              outline: none;
            }
            p 
            {
                color: #3A1B50;
                a 
                {
                    color: #3A1B50;
                }
            }
            button 
            {
              background-color: #3A1B50;
              color: white;
              border: none;
              width: 70%;
              padding: 10px 70px;
            }
            .forgot
            {
            background-color: #3A1B50;
              color: white;
              border: none;
              width: 70%;
              padding: 10px 70px;
              cursor: pointer;
            }
            .signFace
            {
              background-color: #3b5998;
              padding: 7px 0;
              color: white;
              font-size: 20px;
              cursor: pointer;
            }
            .SignGoogle
            {
              background-color: #5D90F1;
              padding: 7px 0;
              color: white;
              font-size: 20px;
              cursor: pointer;
            }
        }
    }
}