.main_content
{
.form
{
    .View_all_cars_btn
    {
        background-color: #3a1b50bf;
        border-radius: 20px 0px 0px 20px;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        i 
        {
            cursor: pointer;
            color: #3a1b50;
            background-color: #E6F6FF;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            margin-right: 5px;
            justify-content: center;
            align-items: center;
        }
        p 
        {
            color: white;
            font-size: 16px;
            font-weight: bolder;
            margin-bottom: 0;
        }
    }
    .search_form
        {
            .search_btn
            {
                cursor: pointer !important;
            }
            input 
            {
                border-radius: 0px 20px 20px 0px;
                border: none;
                outline: none;
            }
        }
        @media screen and (max-width:535px) {
            padding: 0 50px;
            .View_all_cars_btn
            {
                background-color: #3a1b50bf;
                border-radius: 20px 0px 0px 20px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                i 
                {
                    cursor: pointer;
                    color: #3a1b50;
                    background-color: #E6F6FF;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    margin-right: 5px;
                    justify-content: center;
                    align-items: center;
                }
                p 
                {
                    color: white;
                    font-size: 13px;
                    font-weight: bolder;
                    margin-bottom: 0;
                }
            }
            .search_form
            {
                input 
                {
                    font-size: 10px;
                }
            }
            
        }
}
}