header 
{
    .navbar
    {
        background-color: #3a1b50;
        color: white;
        padding: 0;
      .content
      {
        display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding: 0 10px;
            margin: auto;
            .settings
            {
                margin-top: 10px;
                display: flow-root;
            }
      }
        .logo
        {
            width: 150px;
        }
        .lamborghini
        {
            width: 60px;
            padding: 2px 0;
        }
        .img_calendar
        {
            width: 30px;
        }
        .border-style
        {
            position: relative;
            padding: 12px 0;
            // background-color: #55ACEE;
    
        }
        .border-style::before
        {
          position: absolute;
          content: "";
          width: .5px;
          height: 100%;
          background-color: white;
          left: -7px;
        }
        ul 
        {

            .custom-select {
                position: relative;
                display: inline-block;
                // background-color: #077cf1;
                border-radius: 30px;
                margin-right: 2px;
            .selected-option {
                font-size: 12px;
                padding: 8px 12px;
                border-radius: 5px;
                width:150px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: underline;
            }
            .opt2
            {
                width: 100px;
            }
            .opt3
            {
              width: 65px;
            }
            .opt4
            {
              width: 85px;
            }
            .options {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #fff;
                overflow: hidden;
                color: #3A1B50;
                font-size: 12px;
                font-weight: bolder;
                border: 1px solid #ccc;
                text-align: center;
                border-top: none;
                border-radius: 20px;
                box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
                list-style-type: none;
                margin: 0;
                padding: 0;
                z-index: 99999;
                li {
                   padding: 8px 12px;
                   cursor: pointer;
                   a 
                   {
                    text-decoration: none;
                    color: #3A1B50;
                   }
                   
               }
                li:hover {
                   background-color: #f0f0f0;
               }
            }
    
        }
            .fs-13
            {
                font-size: 13px;
                font-weight: bold;
            }
    
        }
        @media screen and (max-width: 1400px) {
            .advertisement{
                display: none !important;
            }
    }
        @media screen and (max-width: 1091px) {
            .content 
            {
                width: 100%;
                padding: 0 20px;
            }
            .setting_btn
            {
                display: inline !important;
                // position: absolute;
                // right: 0px;
                // top: 58px;
                margin-bottom: 10px;
                width: 30px;
                height: 30px;
                // background-color: #3A1B50;
                // border: 2px solid white;
                border-radius: 7px 0 0 7px;
                font-size: 25px;
                cursor: pointer;
                z-index: 9999;
            }
            .open_Setting{
                top:100px !important;
            }
            .settings{
            padding: 0 10px;
            position: absolute;
            flex-direction: column;
            align-items: center;
            color:white;
            background-color: #3A1B50;
            top:-1000%;
            border-radius: 20px;
            box-shadow: 0 0px 7px rgba(0, 0, 0, 0.284);
            transition: all .5s;
            z-index: 9999;
          
            select 
            {
                color: white;
            }
            .border-style::before
            {
            width: 0px;
            }
            .close_Setting
            {
                cursor: pointer;
                display: inline !important;
            }
            }
    }
        @media screen and (max-width: 1091px) {
            .content
            {
            .menu
            {
                cursor: pointer;
                display: inline !important;
                margin-left: auto;
            }
            }
    }

    }
  .navlist
  {
    background-color: white;
    border-bottom: 4px solid #E6F6FF;
    ul 
    {
        padding: 0 5px;
      li 
      {
        margin: 0 10px;



        .custom-select {
            position: relative;
            display: inline-block;
           
              .header
              {

                  font-size: 20px;
                  font-weight: bold;
                  color: #3A1B50;
                  border-bottom: 3px solid #3A1B50;
              }
              .arrow
              {
                font-size: 22px;
              }
            
        .selected-option {
            font-size: 12px;
            padding: 8px 12px;
            border-radius: 5px;
            width:150px;
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .opt2
        {
            width: 170px;
        }
        // .opt3
        // {
        //   width: 65px;
        // }
        // .opt4
        // {
        //   width: 85px;
        // }
        .options {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #fff;
            overflow: hidden;
            
            border: 1px solid #ccc;
            text-align: center;
            border-top: none;
            border-radius: 20px;
            box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
            list-style-type: none;
            margin: 0;
            padding: 0;
            z-index: 99999;
            a 
            {
                color: #3A1B50;
            font-size: 12px;
            font-weight: bolder;
            text-decoration: none;
            // background-color: #3a1b50;
            width: 100%;
            display: block;
            padding: 8px 0;
            }
            li {
               width: 100%;
               cursor: pointer;
               margin: 0;
            //    background-color: #55ACEE;
           }
            li:hover {
               background-color: #f0f0f0;
           }
        }
        

    }














        a
        {
            padding:0 3px;
            transition: all .3s;
        }
      }
        .fs-18
        {
            font-size: 18px;
            font-weight: bold;
            color: #3A1B50;
        }

    }
    .appsLink 
    {
        margin-top: 15px;
        li 
        {
            width: 100px;
            a {
                img 
                {
                    width: 100%;
                }
            }
        }
    }
    .social
    {
        padding-left: 15px;
        .hidden-text
        {
            position: absolute;
            margin-top: 40px;
            background-color: #3A1B50;
        }
        li 
        {
            width: 36px;
            height: 36px;
            position: relative;
            border-radius: 50%;
            background-color: #3A1B50;
            margin: 0 5px;
            overflow: hidden;
            a 
            {
                position: absolute;
                left: 50%;
                height: 100%;
                width: 100%;
                text-align: center;
                transform: translate(-50%);
                color: white;
                font-size: 20px;
            }
        }
    }
    .facebook
    {
        background-color: #4267B2 !important;
    }
    .twitter
    {
        background-color: #1DA1F2 !important;
    }
  }
  @media screen and (max-width: 1091px) {
    .open_nav_list
    {
        left: 0px !important;
    }
    .navlist
    {
       position: absolute !important;
       top: 0;
    //    background-color: #3a1b50;
       max-width: 300px;
       overflow: hidden;
       height: 100%;
       transition: all .5s;
       left: -100%;
      z-index: 99999;
       .close
       {
        display: block !important;
        position: absolute;
        right: 0;
        margin: 5px;
       }
       .content
       {
           flex-direction: column;
           .close 
           {
            cursor: pointer;
            color: #3A1B50;
           }
           .navlinks
           {
            margin-top: 40px !important;
            flex-direction: column;
            li 
            {
                margin-top: 5px;
               margin-left: 25%;
                width: 100%;
                text-align: center;
            }
        }
        .appAndSocial
        {
            flex-direction: column;
            .appsLink 
            {
                flex-direction: column;
                margin-top: 15px;
                li 
                {
                    width: 100%;
                    a {
                        img 
                        {
                            width: 100%;
                        }
                    }
                }
            }
            
            img 
            {
                max-width: 170px;
            }
        }
       }
    }
}
}

.Brand_Options
{
  position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-bottom: -10px;
    max-height: 600px;
    background-color: #fff;
    overflow: auto;
    color: #3A1B50;
    font-size: 12px;
    font-weight: bolder;
    border: 1px solid #ccc;
    text-align: center;
    border-top: none;
    border-radius: 20px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 99999;
    li {
       padding: 8px 12px;
       cursor: pointer;
       transition: all .5s;
       a 
       {
        text-decoration: none;
        color: #3A1B50;
       }
       
   }
    li:hover {
    //    background-color: #f0f0f0;
    transform: scale(1.2, 1.2);
    // text-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
   }
}