$main:#03A9F4;
$second:#000000;
$third:#FFA200;
$forth:#3D1F50;
$fifth:#E6F6FF;

.RentSUVLuxuryCursel
{
    .slider-pro
    {
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.116);
        border-radius: 40px;
        img 
        {
            object-fit: cover;
        }
        .Featured
        {
            background-color: $main;
        }
        .Premium
        {
            background-color: $second;
        }
        .Verified
        {
            background-color: $third;
        }
        .Save_to_wishlist
        {
            background-color: $fifth;
            font-weight: 600;
        }
        .salary
        {
            img 
            {
                max-width: 125px;
                max-height: 65px;
            }
            span 
            {
                font-size: 9px;
                font-weight: bold;
                background-color: #E6F6FF;
                width: 100%;
                padding: 7px;
            }
        }
        .contact
        {
           ul
           {
            li 
            {
             display: flex;
             align-items: center;
                i 
                {
                    background-color: $fifth;
                    color: $forth;
                    // padding: 5px;
                    margin-right: 5px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                   justify-content: center;
                   align-items: center;
                   border-radius: 50%;
                }
                span 
                {
                    font-size: 10px;
                    color: $forth;
                }
            }
           } 
        }
    }
    @media screen and (max-width: 1200px) {
         .options
         {
            flex-direction: column;
            ul 
            {
                margin: auto;
            }
            .Save_to_wishlist
            {
                width: fit-content;
                margin: auto;
                margin-top: 5px;
            }
         }
    }
}