$forth:#3D1F50;
$fifth:#E6F6FF;
$second:#000000;
$third:#FFA200;
$main:#03A9F4;
.FILTER
{
    .clear
    {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .clearBTN
        {
            cursor: pointer;
        }
    }
.sort
{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    .select{
        
        padding: 10px;
        border-radius: 4px; /* Rounded corners */
        background-color: #E6F6FF; /* Set background color for elements */
        cursor: pointer;
        border: 1px solid #ccc; /* Add border */
      }
}













    .filter-container {
        // max-width: 300px;
        // margin-right:  20px; /* Align to the left */
        // padding: 20px;
      
      
    
    
    .title {
     
      color: #333;
      margin-bottom: 20px;
    }
    
    .subtitle{
     
      margin-bottom: 20px;
    }
    
    .filter-item {
      margin-bottom: 15px;
      
    }
    
    
    
    .select,  .find-car-button, input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 4px; /* Rounded corners */
      background-color: #E6F6FF; /* Set background color for elements */
      border: 1px solid #ccc; /* Add border */
    }
    select 
    {
        cursor: pointer;
    }
    .radio-buttons label {
      margin-right: 10px;
    }
    
    .price-range {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
    
    // .price-range input[type="range"] {
    //   width: calc(100%);
    //   margin-right: 10px;
    // }
    
    // .price-range .price-label {
    //   font-size: 14px;
    //   color: #333;
    // }
    
    .button-group {
      display: flex;
      flex-direction: row;
    //   flex-wrap: wrap; /* Allow flex items to wrap to the next line */
      justify-content: space-between; /* Add space between buttons */
    }
    @media screen and (min-width:768px ) and (max-width: 992px) {
        .button-group
        {
            flex-direction: column;
        }
    }
    .Type {
        display: flex;
        align-items: center; /* Align items vertically */
       flex-wrap: wrap;
       justify-content: center;
      }
      
    //   .type-button {
    //     margin-right: 10px; /* Add spacing between the button and radio buttons */
    //   }
      
      .radio-buttons {
        display: flex;
        flex-direction: column; /* Arrange radio buttons vertically */
      }
      
      .radio-label {
        margin-bottom: 5px; /* Add spacing between radio buttons */
      }
      
    
    .Type button {
      position: relative;
      padding-left: 20px; /* Adjust padding to leave space for the checkbox */
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 60px; /* Add space between words */
    }
    
    .checkbox-icon {
      position: absolute;
      left: 10px; /* Adjust the position of the checkbox */
    }
    
    .Type button:hover {
      background-color: #f0f0f0; /* Change the background color on hover if needed */
    }
    
    
    
    .pill-button {
      padding: 10px 20px; /* Adjust padding as needed */
    //   margin-top: 30px;
    margin: 5px;
    //   margin-left:5px;
      border-radius: 0; /* Remove border radius */
      background-color: #E6F6FF; /* Set background color */
      color: #161515; /* Set text color */
      cursor: pointer;
      margin-bottom: 10px; /* Add margin bottom to create space between rows */
      width: 100%; /* Adjust width to fit two buttons in a row with spacing */
      border: none; /* Remove border */
    }
    
    .pill-button:hover {
      background-color: #3A1B50;
      color: white; /* Change to red on hover */
    }
    
    
    
    .find-car-button {
      width: 100%; /* Adjust width to match other buttons */
      padding: 10px;
      background-color: #3A1B50; /* Set background color to red */
      color: white;
      border: none;
      border-radius: 4px; /* Rounded corners */
      cursor: pointer;
    }
    
    
    
    .find-car-button:hover {
      background-color: #3A1B50; /* Darker red on hover */
    }


}



// .carts{



// }
.card 
{
    box-shadow:  0 0 7px rgba(0, 0, 0, 0.088);
    border-radius: 10px;
    border: none;
    margin: 10px;

    .feature_details
    {
        ul 
        {
            list-style: none;
            li 
            {
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .pricing
        {
            li 
            {
                text-align: center;
                background-color: #E6F6FF;
                padding: 0px 18px;
                font-size: 13px;
                font-weight: bold;
                color: #3C1D4E;
                display: flex;
                flex-direction: column;

            }
          
        }
       
    }
    @media screen and (max-width:580px) {
        .feature_details
        {
        flex-wrap: wrap;
        ul 
        {
            margin: auto;
            margin-top: 10px;
        }
        }
        .contact
        {
            margin-top: 20px;
           ul 
           {
            flex-wrap: wrap;
           }
        }
     }
    .contact
    {
       ul
       {
        li 
        {
         display: flex;
         align-items: center;
            i 
            {
                background-color: $fifth;
                color: $forth;
                // padding: 5px;
                margin-right: 5px;
                width: 40px;
                height: 40px;
                display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
            }
            span 
            {
                font-size: 12px;
                font-weight: 600;
                color: $forth;
            }
        }
        .imgLogo
        {
         background-color: transparent;
            img 
            {
                width: 70px;
                margin-top: 15px;
            }
        }
       } 
      
    }
.options{

    font-size: 13px;
    .Featured
        {
            background-color: $main;
            margin-right: 2px;
        }
        .Premium
        {
            background-color: $second;
            margin-right: 2px;
        }
        .Verified
        {
            background-color: $third;
            margin-right: 2px;
        }
        .Save_to_wishlist
        {
            background-color: $fifth;
            font-weight: 600;
        }
    }
}
nav
{
    // background-color: #000000;
    margin: auto;
    margin-top: 200px;
    width: fit-content;
    .page-link
    {
        background-color: #e4e4e4;
        margin: 0 10px;
        border: 1px solid #e4e4e4;
        cursor: pointer;
        color: #000000;
    }
    .active
    {
        background-color: #3C1D4E;
    }
}
}
.View_More
{
    span 
    {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }
}