.BetterWay
{
    .container
    {
        border-top: 1px solid rgb(79, 79, 79);
        padding-top: 20px;
    .notLine
    {
        width: 300px;
    }
    .img_cover
    {
        margin: 50px 0;
        border-radius: 30px;
    }
    .text
    {
        
        h3
        {
            font-size: 38px;
        }
        p 
        {
           font-size: 16px;
        }
    }
    ul 
    {
        margin: 0 auto;
        li 
        {
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img 
            {
                // width: 200px;
                width: 100%;
            }
            div 
            {
                width: 60px;
                height: 60px;
                border-radius: 15px;
                color: #2a2a2a;
                margin: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #E6F6FF;
                font-size: 30px;
            }
            .head 
            {
                font-size: 20px;
                font-weight: 500;
            }
           .exp
            {
                font-size: 14px;
                padding: 0 10px;
                margin-bottom: 25px;
            }
        }
        .notLine
        {
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.111);
            max-width: 250px;
        }
        @media screen and (max-width:993px) {
        
            .notLine
            {
                // background-color: #2a2a2a;
                width: 250px !important;
                div 
                {
                    font-size: 20px;
                    width: 40px;
                height: 40px;
                border-radius: 7px;
                margin: 5px 0;
                }
                .head
                {
                    font-size: 15px;
                }
                .exp
            {
                font-size: 11px;
                margin-bottom: 2px;
            }
            img 
            {
                width: 50px;
            }
            }
        }
        @media screen and (max-width:575px) {
         
            .notLine
            {
                // background-color: #2a2a2a;
                width: 100px !important;
                // height: 100px;
                div 
                {
                    font-size: 10px;
                    width: 20px;
                height: 20px;
                border-radius: 5px;
                margin: 5px 0;
                }
                .head
                {
                    font-size: 10px;
                    font-weight: 400;
                }
                .exp
            {
                font-size: 7px;
                margin-bottom: 2px;
            }
            img 
            {
                width: 20px;
            }
            }
        }
        @media screen and (max-width:318px) {
            flex-direction: column;
            img 
            {
                display: none;
            }
            .notLine
            {
                margin: 10px 0;
            }
        }

    }
}
}