.BetterWay
{
    .container
    {
        border-top: 1px solid rgb(79, 79, 79);
        padding-top: 20px;
    
    .img_cover
    {
        background-image: url(../../../../images/img_rum_banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 150px 0;
        border-radius: 30px;
    }
    .text
    {
        
        h3
        {
            font-size: 38px;
        }
        p 
        {
           font-size: 16px;
        }
    }
    ul 
    {
        margin: 0 auto;
        li 
        {
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img 
            {
                width: 200px;
            }
            div 
            {
                width: 60px;
                height: 60px;
                border-radius: 15px;
                color: #2a2a2a;
                margin: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #E6F6FF;
                font-size: 30px;
            }
            h5 
            {
                font-size: 20px;
            }
            h6 
            {
                font-size: 14px;
                padding: 0 10px;
                margin-bottom: 25px;
            }
        }
        .notLine
        {
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.111);
            max-width: 250px;
        }
        @media screen and (max-width:993px) {
            flex-direction: column;
        }

    }
}
}