.faq
{
    h2
    {
        color: #3D1F50;
    }
    .article
    {
        background-color: #E6F6FF;
        padding: 20px 10px;
        border-radius: 10px;
        .button 
        {
            position: relative;
            display: flex;

            justify-content: space-between;
            .toggleButton
        {
            background-color: white;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            transition: all .3s;
            font-size: 20px;
            position: absolute;
            right: 0;
        }
        .question
        {
            font-size: 25px;
        }
        .accordion-body{
            font-size: 25px;
        }
        }
    }
  
}