$forth:#3D1F50;
$fifth:#E6F6FF;
$second:#000000;
$third:#000000;
$main:#000000;

.breadcrumb
{
    .active 
    {
        color: $forth;
    }
 li:not(:last-child)::after {
        content: ">";
        margin-left: 5px;
 }
}

//*** FILTER Styles**
.FILTER
{
  article
  {
    margin-bottom: 30px;
  p 
  {
    font-size: 18px;
    letter-spacing: 3px;
  }
    .content
    {
      background-color: $fifth;
      padding: 20px 40px;
      max-width: 250px;
      ul 
      {
        li {
            font-size: 17px;
            color: #333;
          .IoCheckmarkCircle
          {
            font-size: 25px;
            color: #c2c2c2;
            margin-right: 10px;
          }
        }
      }
    }
    .adout_content
    {
      color: #656C70;
    }
  }
    .clear
    {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .clearBTN
        {
            cursor: pointer;
        }
    }
.sort
{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    .select{
        
        padding: 10px;
        border-radius: 4px;
        background-color: $fifth;
        cursor: pointer;
        border: 1px solid #ccc;
      }
}
    .filter-container {    
    .title {
     
      color: #333;
      margin-bottom: 20px;
    }
    
    .subtitle{
     
      margin-bottom: 20px;
    }
    
    .filter-item {
      margin-bottom: 15px;
      
    }
    
    
    
    .select,  .find-car-button, input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      background-color: $fifth;
      border: 1px solid #ccc;
    }
    select 
    {
        cursor: pointer;
    }
    .radio-buttons label {
      margin-right: 10px;
    }
    
    .price-range {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
    
    
    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (min-width:768px ) and (max-width: 992px) {
        .button-group
        {
            flex-direction: column;
        }
    }
    .Type {
        display: flex;
        align-items: center;
       flex-wrap: wrap;
       justify-content: center;
      }
      .radio-buttons {
        display: flex;
        flex-direction: column;
      }
      
      .radio-label {
        margin-bottom: 5px;
      }
      
    
    .Type button {
      position: relative;
      padding-left: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 60px;
    }
    
    .checkbox-icon {
      position: absolute;
      left: 10px;
    }
    
    .Type button:hover {
      background-color: #f0f0f0;
    }
    
    
    
    .pill-button {
      padding: 10px 20px; 
    margin: 5px;
      border-radius: 0;
      background-color: $fifth;
      color: #161515;
      cursor: pointer;
      margin-bottom: 10px;
      width: 100%;
      border: none;
    }
    
    .pill-button:hover {
      background-color: #3A1B50;
      color: white;
    }
    
    
    
    .find-car-button {
      width: 100%;
      padding: 10px;
      background-color: #3A1B50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    
    
    .find-car-button:hover {
      background-color: #3A1B50;
    }


}

.card 
{
    box-shadow:  0 0 7px rgba(0, 0, 0, 0.088);
    border-radius: 10px;
    border: none;
    margin: 10px;
img 
{
  object-fit: cover;
}
    .feature_details
    {
        ul 
        {
            list-style: none;
            li 
            {
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .pricing
        {
            li 
            {
                text-align: center;
                background-color: $fifth;
                padding: 0px 18px;
                font-size: 13px;
                font-weight: bold;
                color: #3C1D4E;
                display: flex;
                flex-direction: column;

            }
          
        }
       
    }
    @media screen and (max-width:580px) {
        .feature_details
        {
        flex-wrap: wrap;
        ul 
        {
            margin: auto;
            margin-top: 10px;
        }
        }
        .contact
        {
            margin-top: 20px;
           ul 
           {
            flex-wrap: wrap;
           }
        }
     }
    .contact
    {
       ul
       {
        li 
        {
         display: flex;
         align-items: center;
            i 
            {
                background-color: $fifth;
                color: $forth;
                // padding: 5px;
                margin-right: 5px;
                position: relative;
                width: 40px;
                height: 40px;
                display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
               .ex-categor
               {
                position: absolute;
                padding: 2px 20px;
                background: #ffffff;
                border-radius: 20px;
                opacity: 0;
                top: -20px;
                box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
                transition: all .2s;
                a 
                {
                    margin: 5px 0;
                    font-size: 10px;
                    font-weight: 700;
                    color: $forth;
                    text-decoration: none;
                }
               }
               .ex-categor::before
                {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    transform: translateX(-50%) rotate(45deg);
                    background-color: #ffffff;
                    bottom: -5px;
                    left: 50%;
                }
            }
            i:hover .ex-categor
                {
                    opacity: 1;
                    top: -30px;
                    transition: .5s cubic-bezier(0.68,-0.55,0.265,1.55);
                }
            span 
            {
                font-size: 10px;
                color: $forth;
            }
            span 
            {
                font-size: 12px;
                font-weight: 600;
                color: $forth;
            }
        }
        .imgLogo
        {
         background-color: transparent;
            img 
            {
                width: 70px;
                margin-top: 15px;
                object-fit: cover;
            }
        }
       } 
      
    }
.options{

    font-size: 13px;
    .Featured
        {
            background-color: $main;
            margin-right: 2px;
        }
        .Premium
        {
            background-color: $second;
            margin-right: 2px;
        }
        .Verified
        {
            background-color: $third;
            margin-right: 2px;
        }
        .Save_to_wishlist
        {
            background-color: $fifth;
            font-weight: 600;
        }
    }
}
nav
{
    // background-color: #000000;
    margin: auto;
    margin-top: 200px;
    width: fit-content;
    .page-link
    {
        background-color: #e4e4e4;
        margin: 0 10px;
        border: 1px solid #e4e4e4;
        cursor: pointer;
        color: #000000;
    }
    .active
    {
        background-color: #3C1D4E;
    }
}
}
.View_More
{
    span 
    {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }
}



// ****page header*****
.search
{
   z-index: -1;
img 
{
    width: 100%;
    object-fit: cover;
}
.cover_color
{
    background-color: #3a1b5094;
}
}


// ****BESTSERVICES******

.BESTSERVICES
{
    background-image: url(./images/BESTSERVICESBACKGROUND.png);
   background-size: cover;
   background-repeat: no-repeat;
   margin: 50px 0;
   position: relative;
   ::before
   {
   position: absolute;
   content: "";
   top: -10px;
   width: 70%;
   left: 50%;
   height: 1px;
   background-color: #3A1B50;
   transform: translateX(-50%);
   }
   ::after
   {
   position: absolute;
   content: "";
   bottom: -10px;
   width: 70%;
   left: 50%;
   height: 1px;
   background-color: #3A1B50;
   transform: translateX(-50%);
   }
 .container 
 {
    padding: 70px 0;
    h3 
    {
        font-size: 20px;
        text-transform: uppercase;
    }
    p{
        font-size: 18px;
    }
}
@media screen and (max-width:770px) {
    overflow: hidden;
    background-image:linear-gradient(rgba(255, 255, 255, 0.871), rgba(255, 255, 255, 0.307)), url(./images/dots.png);
    background-size: auto;
    background-repeat: repeat;
}
}
.BESTSERVICES_Terms
{

        ::before
        {
        height: 0px !important;
        }

        .BESTSERVICES_H3_Terms
        {
            font-weight: 400;
            letter-spacing: 1px;
            color: #3A1B50;
        }

}


// ***********RentSUVLuxuryCursel***********

.RentSUVLuxuryCursel
{
    .slider-pro
    {
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.116);
        border-radius: 40px;
        img 
        {
            object-fit: cover;
        }
        .Featured
        {
            background-color: $main;
        }
        .Premium
        {
            background-color: $second;
        }
        .Verified
        {
            background-color: $third;
        }
        .Save_to_wishlist
        {
            background-color: $fifth;
            font-weight: 600;
        }
        .salary
        {
            img 
            {
                max-width: 125px;
                max-height: 65px;
                object-fit: cover;
            }
            span 
            {
                font-size: 9px;
                font-weight: bold;
                background-color: $fifth;
                width: 100%;
                padding: 7px;
            }
        }
        .contact
        {
           ul
           {
            li 
            {
             display: flex;
             align-items: center;
                i 
                {
                    background-color: $fifth;
                    color: $forth;
                    // padding: 5px;
                    margin-right: 5px;
                    width: 40px;
                    position: relative;
                    height: 40px;
                    display: flex;
                   justify-content: center;
                   align-items: center;
                   border-radius: 50%;
                   
                   .ex-categor
                   {
                    position: absolute;
                    padding: 2px 20px;
                    background: #ffffff;
                    border-radius: 20px;
                    opacity: 0;
                    top: -20px;
                    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
                    transition: all .2s;
                    a 
                    {
                        margin: 5px 0;
                        font-size: 10px;
                        font-weight: 700;
                        color: $forth;
                        text-decoration: none;
                    }
                   }
                   .ex-categor::before
                    {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        transform: translateX(-50%) rotate(45deg);
                        background-color: #ffffff;
                        bottom: -5px;
                        left: 50%;
                    }
                }
                i:hover .ex-categor
                    {
                        opacity: 1;
                        top: -30px;
                        transition: .5s cubic-bezier(0.68,-0.55,0.265,1.55);
                    }
                span 
                {
                    font-size: 10px;
                    color: $forth;
                }
            }
           } 
        }
    }
    @media screen and (max-width: 1200px) {
         .options
         {
            flex-direction: column;
            ul 
            {
                margin: auto;
            }
            .Save_to_wishlist
            {
                width: fit-content;
                margin: auto;
                margin-top: 5px;
            }
         }
    }
}


//*********CarType && read more && read less***************



.CarType
{
    .CarType_Header
    {
         h3 
         {
            width: fit-content;
            font-size: 24px;
            font-weight: bold;
            color: #3a1b50;
         }
        .line
        {
            width: 60%;
            height: 2px;
            background-color: #3a1b50;
        }
        .ViewAll
        {
            background-color: $fifth;
            color: rgb(95, 95, 95);
            padding: 10px 40px;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 100;
        }
        @media screen and (max-width: 550px) {
            flex-direction: column;
            .ViewAll
            {
                margin-top: 10px;
            }
        }
    }
    p 
    {
        font-size: 12px;
    }
    .collapsed {
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap; 
        // color: red;
        // background-color: #3a1b50;
        height: 40px;
      }
      
      .expanded {
        overflow: visible;
        height: auto;
      }
      .read_more
      {
       cursor: pointer;
      }
}
// ************RentSuvDubaiCursel in car details and yachts details************




.RentSuvDubaiCursel
{
.main_img
{
    span 
    {
        background-color: $fifth;
        border-radius: 5px;
        color: #343434;
       cursor: pointer;
    }
}
    .nav-pills
    {
        border-bottom: 5px solid gray;
        display: flex;
        justify-content: space-between;
        li 
        {
            button
            {
              border: none;
              background-color: transparent;
             font-size: 25px;
             color: #979797;
            }
            .active
            {
            //    border-bottom: 3px solid black;
               position: relative;
               color: black;
            }
            .active::after
            {
             position: absolute;
             content: "";
             width: 100%;
             height: 5px;
             background-color: #3D1F50;
            bottom: -4.5px;
            left: 0;
            }

        }
    }
    .tab-content
    {
        h3 
        {
            color: black;
            font-weight: 600;
        }
    }
    .new_feature
    {
        margin-top: 100px;
        h3 
        {
            color: black;
        }
    }
    .feature_details
    {
        ul 
        {
            list-style: none;
            li 
            {
                margin-bottom: 10px;
                font-size: 15px;
            }
        }
        .pricing
        {
            li 
            {
                text-align: center;
                background-color: $fifth;
                padding: 2px 15px;
                font-size: 18px;
                div
                {                    
                    width: 70px;
                }
            }
        }
    }
.details
{
    .contact
    {
       ul
       {
        li 
        {
         display: flex;
         align-items: center;
            i 
            {
                background-color: $fifth;
                color: $forth;
                // padding: 5px;
                position: relative;
                margin-right: 5px;
                width: 40px;
                height: 40px;
                display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
               .ex-categor
               {
                position: absolute;
                padding: 2px 20px;
                background: #ffffff;
                border-radius: 20px;
                opacity: 0;
                top: -20px;
                box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
                transition: all .2s;
                a 
                {
                    margin: 5px 0;
                    font-size: 10px;
                    font-weight: 700;
                    color: $forth;
                    text-decoration: none;
                }
               }
               .ex-categor::before
                {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    transform: translateX(-50%) rotate(45deg);
                    background-color: #ffffff;
                    bottom: -5px;
                    left: 50%;
                }
            }
            i:hover .ex-categor
                {
                    opacity: 1;
                    top: -30px;
                    transition: .5s cubic-bezier(0.68,-0.55,0.265,1.55);
                }
            span 
            {
                font-size: 12px;
                font-weight: 600;
                color: $forth;
            }
        }
       } 
    }
 
        img 
        {
            width: 100px;
            margin-top: 15px;
            object-fit: cover;
        }
    
}
@media screen and (max-width:991px) {
    .details
    {
        border-top: 3px solid #343434;
        margin-top: 20px;
        padding-top: 20px;
    }
}
@media screen and (max-width:769px) {
    .feature_details
    {
        flex-wrap: wrap;
        ul 
        {
            margin: auto;
        }
    }
}
@media screen and (max-width:516px) {
    .nav-pills
    {
        border-bottom: 5px solid gray;
        display: flex;
        justify-content: space-between;
        li 
        {
            button
            {
             font-size: 17px;
            }

        }
    }
}
}