.FILTER article {
  margin-bottom: 30px;
}
.FILTER article p {
  font-size: 18px;
  letter-spacing: 3px;
}
.FILTER article .content {
  background-color: #E6F6FF;
  padding: 20px 40px;
  max-width: 250px;
}
.FILTER article .content ul li {
  font-size: 17px;
  color: #333;
}
.FILTER article .content ul li .IoCheckmarkCircle {
  font-size: 25px;
  color: #c2c2c2;
  margin-right: 10px;
}
.FILTER article .adout_content {
  color: #656C70;
}
.FILTER .clear {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.FILTER .clear .clearBTN {
  cursor: pointer;
}
.FILTER .sort {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
.FILTER .sort .select {
  padding: 10px;
  border-radius: 4px;
  background-color: #E6F6FF;
  cursor: pointer;
  border: 1px solid #ccc;
}
.FILTER .filter-container .title {
  color: #333;
  margin-bottom: 20px;
}
.FILTER .filter-container .subtitle {
  margin-bottom: 20px;
}
.FILTER .filter-container .filter-item {
  margin-bottom: 15px;
}
.FILTER .filter-container .select, .FILTER .filter-container .find-car-button, .FILTER .filter-container input[type=text] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #E6F6FF;
  border: 1px solid #ccc;
}
.FILTER .filter-container select {
  cursor: pointer;
}
.FILTER .filter-container .radio-buttons label {
  margin-right: 10px;
}
.FILTER .filter-container .price-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.FILTER .filter-container .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .FILTER .filter-container .button-group {
    flex-direction: column;
  }
}
.FILTER .filter-container .Type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.FILTER .filter-container .radio-buttons {
  display: flex;
  flex-direction: column;
}
.FILTER .filter-container .radio-label {
  margin-bottom: 5px;
}
.FILTER .filter-container .Type button {
  position: relative;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 60px;
}
.FILTER .filter-container .checkbox-icon {
  position: absolute;
  left: 10px;
}
.FILTER .filter-container .Type button:hover {
  background-color: #f0f0f0;
}
.FILTER .filter-container .pill-button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 0;
  background-color: #E6F6FF;
  color: #161515;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  border: none;
}
.FILTER .filter-container .pill-button:hover {
  background-color: #3A1B50;
  color: white;
}
.FILTER .filter-container .find-car-button {
  width: 100%;
  padding: 10px;
  background-color: #3A1B50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.FILTER .filter-container .find-car-button:hover {
  background-color: #3A1B50;
}
.FILTER .card {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.088);
  border-radius: 10px;
  border: none;
  margin: 10px;
}
.FILTER .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.FILTER .card .feature_details ul {
  list-style: none;
}
.FILTER .card .feature_details ul li {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.FILTER .card .feature_details .pricing li {
  text-align: center;
  background-color: #E6F6FF;
  padding: 0px 18px;
  font-size: 13px;
  font-weight: bold;
  color: #3C1D4E;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 580px) {
  .FILTER .card .feature_details {
    flex-wrap: wrap;
  }
  .FILTER .card .feature_details ul {
    margin: auto;
    margin-top: 10px;
  }
  .FILTER .card .contact {
    margin-top: 20px;
  }
  .FILTER .card .contact ul {
    flex-wrap: wrap;
  }
}
.FILTER .card .contact ul li {
  display: flex;
  align-items: center;
}
.FILTER .card .contact ul li i {
  background-color: #E6F6FF;
  color: #3D1F50;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.FILTER .card .contact ul li span {
  font-size: 12px;
  font-weight: 600;
  color: #3D1F50;
}
.FILTER .card .contact ul .imgLogo {
  background-color: transparent;
}
.FILTER .card .contact ul .imgLogo img {
  width: 70px;
  margin-top: 15px;
}
.FILTER .card .options {
  font-size: 13px;
}
.FILTER .card .options .Featured {
  background-color: #03A9F4;
  margin-right: 2px;
}
.FILTER .card .options .Premium {
  background-color: #000000;
  margin-right: 2px;
}
.FILTER .card .options .Verified {
  background-color: #FFA200;
  margin-right: 2px;
}
.FILTER .card .options .Save_to_wishlist {
  background-color: #E6F6FF;
  font-weight: 600;
}
.FILTER nav {
  margin: auto;
  margin-top: 200px;
  width: -moz-fit-content;
  width: fit-content;
}
.FILTER nav .page-link {
  background-color: #e4e4e4;
  margin: 0 10px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  color: #000000;
}
.FILTER nav .active {
  background-color: #3C1D4E;
}

.View_More span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

footer {
  margin-top: 100px;
  padding: 20px;
  background-image: linear-gradient(rgba(58, 27, 80, 0.7137254902), rgba(58, 27, 80, 0.7137254902)), url(./images/img_ferarif8tributo_539x1920.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
footer .social {
  position: relative;
  padding-left: 15px;
  top: -60px;
}
footer .social li {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 50%;
  background-color: #3A1B50;
  margin: 0 5px;
  overflow: hidden;
}
footer .social li a {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
footer .social .facebook {
  background-color: #3B5998 !important;
}
footer .social .twitter {
  background-color: #55ACEE !important;
}
footer .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container-fluid ul {
  list-style: none;
  font-size: 17px;
  position: relative;
}
footer .container-fluid ul .app {
  position: relative;
  display: flex;
  flex-direction: column;
}
footer .container-fluid ul .app img {
  width: 150px;
  margin-left: 20px;
}
footer .container-fluid ul .Download {
  max-width: 200px;
  text-align: center;
}
footer .container-fluid ul:not(:nth-child(5))::after {
  position: absolute;
  content: "";
  width: 1px;
  background-color: white;
  height: 100%;
  right: -20px;
  top: 0;
}
@media screen and (max-width: 1242px) {
  footer .container-fluid {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .container-fluid ul:not(:nth-child(5))::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0px;
  }
}/*# sourceMappingURL=App.css.map */