.breadcrumb .active {
  color: #3D1F50;
}
.breadcrumb li:not(:last-child)::after {
  content: ">";
  margin-left: 5px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 0;
  right: -50px;
  transition: all 0.5s;
  cursor: pointer;
}

.show {
  right: 10px;
}

.FILTER article {
  margin-bottom: 30px;
}
.FILTER article p {
  font-size: 18px;
  letter-spacing: 3px;
}
.FILTER article .content {
  background-color: #E6F6FF;
  padding: 20px 40px;
  max-width: 250px;
}
.FILTER article .content ul li {
  font-size: 17px;
  color: #333;
}
.FILTER article .content ul li .IoCheckmarkCircle {
  font-size: 25px;
  color: #c2c2c2;
  margin-right: 10px;
}
.FILTER article .adout_content {
  color: #656C70;
}
.FILTER .clear {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.FILTER .clear .clearBTN {
  cursor: pointer;
}
.FILTER .sort {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
.FILTER .sort .select {
  padding: 10px;
  border-radius: 4px;
  background-color: #E6F6FF;
  cursor: pointer;
  border: 1px solid #ccc;
}
.FILTER .filter-container .title {
  color: #333;
  margin-bottom: 20px;
}
.FILTER .filter-container .subtitle {
  margin-bottom: 20px;
}
.FILTER .filter-container .filter-item {
  margin-bottom: 15px;
}
.FILTER .filter-container .select, .FILTER .filter-container .find-car-button, .FILTER .filter-container input[type=text] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #E6F6FF;
  border: 1px solid #ccc;
}
.FILTER .filter-container select {
  cursor: pointer;
}
.FILTER .filter-container .radio-buttons label {
  margin-right: 10px;
}
.FILTER .filter-container .price-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.FILTER .filter-container .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .FILTER .filter-container .button-group {
    flex-direction: column;
  }
}
.FILTER .filter-container .Type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.FILTER .filter-container .radio-buttons {
  display: flex;
  flex-direction: column;
}
.FILTER .filter-container .radio-label {
  margin-bottom: 5px;
}
.FILTER .filter-container .Type button {
  position: relative;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 60px;
}
.FILTER .filter-container .checkbox-icon {
  position: absolute;
  left: 10px;
}
.FILTER .filter-container .Type button:hover {
  background-color: #f0f0f0;
}
.FILTER .filter-container .pill-button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 0;
  background-color: #E6F6FF;
  color: #161515;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  border: none;
}
.FILTER .filter-container .pill-button:hover {
  background-color: #3A1B50;
  color: white;
}
.FILTER .filter-container .find-car-button {
  width: 100%;
  padding: 10px;
  background-color: #3A1B50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.FILTER .filter-container .find-car-button:hover {
  background-color: #3A1B50;
}
.FILTER .card {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.088);
  border-radius: 10px;
  border: none;
  margin: 10px;
}
.FILTER .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.FILTER .card .feature_details ul {
  list-style: none;
}
.FILTER .card .feature_details ul li {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.FILTER .card .feature_details .pricing li {
  text-align: center;
  background-color: #E6F6FF;
  padding: 0px 18px;
  font-size: 13px;
  font-weight: bold;
  color: #3C1D4E;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 580px) {
  .FILTER .card .feature_details {
    flex-wrap: wrap;
  }
  .FILTER .card .feature_details ul {
    margin: auto;
    margin-top: 10px;
  }
  .FILTER .card .contact {
    margin-top: 20px;
  }
  .FILTER .card .contact ul {
    flex-wrap: wrap;
  }
}
.FILTER .card .contact ul li {
  display: flex;
  align-items: center;
}
.FILTER .card .contact ul li i {
  background-color: #E6F6FF;
  color: #3D1F50;
  margin-right: 5px;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.FILTER .card .contact ul li i .ex-categor {
  position: absolute;
  padding: 2px 20px;
  background: #ffffff;
  border-radius: 20px;
  opacity: 0;
  top: -20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.FILTER .card .contact ul li i .ex-categor a {
  margin: 5px 0;
  font-size: 10px;
  font-weight: 700;
  color: #3D1F50;
  text-decoration: none;
}
.FILTER .card .contact ul li i .ex-categor::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(45deg);
  background-color: #ffffff;
  bottom: -5px;
  left: 50%;
}
.FILTER .card .contact ul li i:hover .ex-categor {
  opacity: 1;
  top: -30px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.FILTER .card .contact ul li span {
  font-size: 10px;
  color: #3D1F50;
}
.FILTER .card .contact ul li span {
  font-size: 12px;
  font-weight: 600;
  color: #3D1F50;
}
.FILTER .card .contact ul .imgLogo {
  background-color: transparent;
}
.FILTER .card .contact ul .imgLogo img {
  width: 70px;
  margin-top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.FILTER .card .options {
  font-size: 13px;
}
.FILTER .card .options .Featured {
  background-color: #000000;
  margin-right: 2px;
}
.FILTER .card .options .Premium {
  background-color: #000000;
  margin-right: 2px;
}
.FILTER .card .options .Verified {
  background-color: #000000;
  margin-right: 2px;
}
.FILTER .card .options .Save_to_wishlist {
  background-color: #E6F6FF;
  font-weight: 600;
}
.FILTER nav {
  margin: auto;
  margin-top: 200px;
  width: -moz-fit-content;
  width: fit-content;
}
.FILTER nav .page-link {
  background-color: #e4e4e4;
  margin: 0 10px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  color: #000000;
}
.FILTER nav .active {
  background-color: #3C1D4E;
}

.View_More span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.search {
  z-index: -1;
}
.search img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search .cover_color {
  background-color: rgba(58, 27, 80, 0.5803921569);
}

.BESTSERVICES {
  background-image: url(./images/BESTSERVICESBACKGROUND.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0;
  position: relative;
}
.BESTSERVICES ::before {
  position: absolute;
  content: "";
  top: -10px;
  width: 70%;
  left: 50%;
  height: 1px;
  background-color: #3A1B50;
  transform: translateX(-50%);
}
.BESTSERVICES ::after {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 70%;
  left: 50%;
  height: 1px;
  background-color: #3A1B50;
  transform: translateX(-50%);
}
.BESTSERVICES .container {
  padding: 70px 0;
}
.BESTSERVICES .container h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.BESTSERVICES .container p {
  font-size: 18px;
}
@media screen and (max-width: 770px) {
  .BESTSERVICES {
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.871), rgba(255, 255, 255, 0.307)), url(./images/dots.png);
    background-size: auto;
    background-repeat: repeat;
  }
}

.BESTSERVICES_Terms ::before {
  height: 0px !important;
}
.BESTSERVICES_Terms .BESTSERVICES_H3_Terms {
  font-weight: 400;
  letter-spacing: 1px;
  color: #3A1B50;
}

.RentSUVLuxuryCursel .slider-pro {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.116);
  border-radius: 40px;
}
.RentSUVLuxuryCursel .slider-pro img {
  -o-object-fit: cover;
     object-fit: cover;
}
.RentSUVLuxuryCursel .slider-pro .Featured {
  background-color: #000000;
}
.RentSUVLuxuryCursel .slider-pro .Premium {
  background-color: #000000;
}
.RentSUVLuxuryCursel .slider-pro .Verified {
  background-color: #000000;
}
.RentSUVLuxuryCursel .slider-pro .Save_to_wishlist {
  background-color: #E6F6FF;
  font-weight: 600;
}
.RentSUVLuxuryCursel .slider-pro .salary img {
  max-width: 125px;
  max-height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}
.RentSUVLuxuryCursel .slider-pro .salary span {
  font-size: 9px;
  font-weight: bold;
  background-color: #E6F6FF;
  width: 100%;
  padding: 7px;
}
.RentSUVLuxuryCursel .slider-pro .contact ul li {
  display: flex;
  align-items: center;
}
.RentSUVLuxuryCursel .slider-pro .contact ul li i {
  background-color: #E6F6FF;
  color: #3D1F50;
  margin-right: 5px;
  width: 40px;
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.RentSUVLuxuryCursel .slider-pro .contact ul li i .ex-categor {
  position: absolute;
  padding: 2px 20px;
  background: #ffffff;
  border-radius: 20px;
  opacity: 0;
  top: -20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.RentSUVLuxuryCursel .slider-pro .contact ul li i .ex-categor a {
  margin: 5px 0;
  font-size: 10px;
  font-weight: 700;
  color: #3D1F50;
  text-decoration: none;
}
.RentSUVLuxuryCursel .slider-pro .contact ul li i .ex-categor::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(45deg);
  background-color: #ffffff;
  bottom: -5px;
  left: 50%;
}
.RentSUVLuxuryCursel .slider-pro .contact ul li i:hover .ex-categor {
  opacity: 1;
  top: -30px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.RentSUVLuxuryCursel .slider-pro .contact ul li span {
  font-size: 10px;
  color: #3D1F50;
}
@media screen and (max-width: 1200px) {
  .RentSUVLuxuryCursel .options {
    flex-direction: column;
  }
  .RentSUVLuxuryCursel .options ul {
    margin: auto;
  }
  .RentSUVLuxuryCursel .options .Save_to_wishlist {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
  }
}

.CarType .CarType_Header h3 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  font-weight: bold;
  color: #3a1b50;
}
.CarType .CarType_Header .line {
  width: 60%;
  height: 2px;
  background-color: #3a1b50;
}
.CarType .CarType_Header .ViewAll {
  background-color: #E6F6FF;
  color: rgb(95, 95, 95);
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 100;
}
@media screen and (max-width: 550px) {
  .CarType .CarType_Header {
    flex-direction: column;
  }
  .CarType .CarType_Header .ViewAll {
    margin-top: 10px;
  }
}
.CarType p {
  font-size: 12px;
}
.CarType .collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
}
.CarType .expanded {
  overflow: visible;
  height: auto;
}
.CarType .read_more {
  cursor: pointer;
}

.RentSuvDubaiCursel .main_img span {
  background-color: #E6F6FF;
  border-radius: 5px;
  color: #343434;
  cursor: pointer;
}
.RentSuvDubaiCursel .nav-pills {
  border-bottom: 5px solid gray;
  display: flex;
  justify-content: space-between;
}
.RentSuvDubaiCursel .nav-pills li button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #979797;
}
.RentSuvDubaiCursel .nav-pills li .active {
  position: relative;
  color: black;
}
.RentSuvDubaiCursel .nav-pills li .active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #3D1F50;
  bottom: -4.5px;
  left: 0;
}
.RentSuvDubaiCursel .tab-content h3 {
  color: black;
  font-weight: 600;
}
.RentSuvDubaiCursel .new_feature {
  margin-top: 100px;
}
.RentSuvDubaiCursel .new_feature h3 {
  color: black;
}
.RentSuvDubaiCursel .feature_details ul {
  list-style: none;
}
.RentSuvDubaiCursel .feature_details ul li {
  margin-bottom: 10px;
  font-size: 15px;
}
.RentSuvDubaiCursel .feature_details .pricing li {
  text-align: center;
  background-color: #E6F6FF;
  padding: 2px 15px;
  font-size: 18px;
}
.RentSuvDubaiCursel .feature_details .pricing li div {
  width: 70px;
}
.RentSuvDubaiCursel .details .contact ul li {
  display: flex;
  align-items: center;
}
.RentSuvDubaiCursel .details .contact ul li i {
  background-color: #E6F6FF;
  color: #3D1F50;
  position: relative;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.RentSuvDubaiCursel .details .contact ul li i .ex-categor {
  position: absolute;
  padding: 2px 20px;
  background: #ffffff;
  border-radius: 20px;
  opacity: 0;
  top: -20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.RentSuvDubaiCursel .details .contact ul li i .ex-categor a {
  margin: 5px 0;
  font-size: 10px;
  font-weight: 700;
  color: #3D1F50;
  text-decoration: none;
}
.RentSuvDubaiCursel .details .contact ul li i .ex-categor::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(45deg);
  background-color: #ffffff;
  bottom: -5px;
  left: 50%;
}
.RentSuvDubaiCursel .details .contact ul li i:hover .ex-categor {
  opacity: 1;
  top: -30px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.RentSuvDubaiCursel .details .contact ul li span {
  font-size: 12px;
  font-weight: 600;
  color: #3D1F50;
}
.RentSuvDubaiCursel .details img {
  width: 100px;
  margin-top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .RentSuvDubaiCursel .details {
    border-top: 3px solid #343434;
    margin-top: 20px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 769px) {
  .RentSuvDubaiCursel .feature_details {
    flex-wrap: wrap;
  }
  .RentSuvDubaiCursel .feature_details ul {
    margin: auto;
  }
}
@media screen and (max-width: 516px) {
  .RentSuvDubaiCursel .nav-pills {
    border-bottom: 5px solid gray;
    display: flex;
    justify-content: space-between;
  }
  .RentSuvDubaiCursel .nav-pills li button {
    font-size: 17px;
  }
}/*# sourceMappingURL=App.css.map */