$forth:#3D1F50;
$fifth:#E6F6FF;
$second:#000000;
$third:#FFA200;
$main:#03A9F4;



//*** FILTER Styles**
.FILTER
{
  article
  {
    margin-bottom: 30px;
  p 
  {
    font-size: 18px;
    letter-spacing: 3px;
  }
    .content
    {
      background-color: #E6F6FF;
      padding: 20px 40px;
      max-width: 250px;
      ul 
      {
        li {
            font-size: 17px;
            color: #333;
          .IoCheckmarkCircle
          {
            font-size: 25px;
            color: #c2c2c2;
            margin-right: 10px;
          }
        }
      }
    }
    .adout_content
    {
      color: #656C70;
    }
  }
    .clear
    {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .clearBTN
        {
            cursor: pointer;
        }
    }
.sort
{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    .select{
        
        padding: 10px;
        border-radius: 4px;
        background-color: #E6F6FF;
        cursor: pointer;
        border: 1px solid #ccc;
      }
}
    .filter-container {    
    .title {
     
      color: #333;
      margin-bottom: 20px;
    }
    
    .subtitle{
     
      margin-bottom: 20px;
    }
    
    .filter-item {
      margin-bottom: 15px;
      
    }
    
    
    
    .select,  .find-car-button, input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      background-color: #E6F6FF;
      border: 1px solid #ccc;
    }
    select 
    {
        cursor: pointer;
    }
    .radio-buttons label {
      margin-right: 10px;
    }
    
    .price-range {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
    
    
    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (min-width:768px ) and (max-width: 992px) {
        .button-group
        {
            flex-direction: column;
        }
    }
    .Type {
        display: flex;
        align-items: center;
       flex-wrap: wrap;
       justify-content: center;
      }
      .radio-buttons {
        display: flex;
        flex-direction: column;
      }
      
      .radio-label {
        margin-bottom: 5px;
      }
      
    
    .Type button {
      position: relative;
      padding-left: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 60px;
    }
    
    .checkbox-icon {
      position: absolute;
      left: 10px;
    }
    
    .Type button:hover {
      background-color: #f0f0f0;
    }
    
    
    
    .pill-button {
      padding: 10px 20px; 
    margin: 5px;
      border-radius: 0;
      background-color: #E6F6FF;
      color: #161515;
      cursor: pointer;
      margin-bottom: 10px;
      width: 100%;
      border: none;
    }
    
    .pill-button:hover {
      background-color: #3A1B50;
      color: white;
    }
    
    
    
    .find-car-button {
      width: 100%;
      padding: 10px;
      background-color: #3A1B50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    
    
    .find-car-button:hover {
      background-color: #3A1B50;
    }


}

.card 
{
    box-shadow:  0 0 7px rgba(0, 0, 0, 0.088);
    border-radius: 10px;
    border: none;
    margin: 10px;
img 
{
  object-fit: cover;
}
    .feature_details
    {
        ul 
        {
            list-style: none;
            li 
            {
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .pricing
        {
            li 
            {
                text-align: center;
                background-color: #E6F6FF;
                padding: 0px 18px;
                font-size: 13px;
                font-weight: bold;
                color: #3C1D4E;
                display: flex;
                flex-direction: column;

            }
          
        }
       
    }
    @media screen and (max-width:580px) {
        .feature_details
        {
        flex-wrap: wrap;
        ul 
        {
            margin: auto;
            margin-top: 10px;
        }
        }
        .contact
        {
            margin-top: 20px;
           ul 
           {
            flex-wrap: wrap;
           }
        }
     }
    .contact
    {
       ul
       {
        li 
        {
         display: flex;
         align-items: center;
            i 
            {
                background-color: $fifth;
                color: $forth;
                // padding: 5px;
                margin-right: 5px;
                width: 40px;
                height: 40px;
                display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
            }
            span 
            {
                font-size: 12px;
                font-weight: 600;
                color: $forth;
            }
        }
        .imgLogo
        {
         background-color: transparent;
            img 
            {
                width: 70px;
                margin-top: 15px;
            }
        }
       } 
      
    }
.options{

    font-size: 13px;
    .Featured
        {
            background-color: $main;
            margin-right: 2px;
        }
        .Premium
        {
            background-color: $second;
            margin-right: 2px;
        }
        .Verified
        {
            background-color: $third;
            margin-right: 2px;
        }
        .Save_to_wishlist
        {
            background-color: $fifth;
            font-weight: 600;
        }
    }
}
nav
{
    // background-color: #000000;
    margin: auto;
    margin-top: 200px;
    width: fit-content;
    .page-link
    {
        background-color: #e4e4e4;
        margin: 0 10px;
        border: 1px solid #e4e4e4;
        cursor: pointer;
        color: #000000;
    }
    .active
    {
        background-color: #3C1D4E;
    }
}
}
.View_More
{
    span 
    {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }
}

//*** Footer Styles**
footer
{
    margin-top: 100px;
    padding: 20px;
    background-image: linear-gradient(#3a1b50b6, #3a1b50b6), url(./images/img_ferarif8tributo_539x1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    .social
    {
        position: relative;
        padding-left: 15px;
        top: -60px;
        li 
        {
            width: 36px;
            height: 36px;
            position: relative;
            border-radius: 50%;
            background-color: #3A1B50;
            margin: 0 5px;
            overflow: hidden;
            a 
            {
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: 100%;
                text-align: center;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 20px;
            }
            .hidden-text
            {
              text-indent: -9999px;
             overflow: hidden;
            }
        }
        .facebook
        {
            background-color: #3B5998 !important;
        }
        .twitter
        {
            background-color: #55ACEE !important;
        }
    }
    .container-fluid 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul 
        {
            list-style: none;
            font-size: 17px;
            position: relative;
            .app
            {
                position: relative;
                display: flex;
                flex-direction: column;
                img 
                {
                    width: 150px;
                    margin-left: 20px;
                }
            }
            .Download
            {
                max-width: 200px;
                text-align: center;
            }
        }
        ul:not(:nth-child(5))::after{
            position: absolute;
            content: "";
            width: 1px;
            background-color: white;
            height: 100%;
            right: -20px;
             top: 0;
        }
        
    }
    @media screen and (max-width:1242px) {
        .container-fluid
        {
        //  flex-direction: column;
        flex-wrap: wrap;
         justify-content: center;

         ul:not(:nth-child(5))::after{
            position: absolute;
            content: "";
            width: 0;
            height: 0px;
        }
        }
    }
   
}

// ****page header*****
.search
{
   z-index: -1;
img 
{
    width: 100%;
}
.cover_color
{
    background-color: #3a1b5094;
}
}