//*** Footer Styles**
footer
{
    margin-top: 100px;
    padding: 20px;
    background-image: linear-gradient(#3a1b50b6, #3a1b50b6), url(../images/img_ferarif8tributo_539x1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    .social
    {
        position: relative;
        padding-left: 15px;
        top: -60px;
        li 
        {
            width: 36px;
            height: 36px;
            position: relative;
            border-radius: 50%;
            background-color: #3A1B50;
            margin: 0 5px;
            overflow: hidden;
            a 
            {
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: 100%;
                text-align: center;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 20px;
            }
            .hidden-text
            {
              text-indent: -9999px;
             overflow: hidden;
            }
        }
        .facebook
        {
            background-color: #3B5998 !important;
        }
        .twitter
        {
            background-color: #55ACEE !important;
        }
    }
    .container-fluid 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul 
        {
            list-style: none;
            font-size: 17px;
            position: relative;
        }
        ul:not(:nth-child(5))::after{
            position: absolute;
            content: "";
            width: 1px;
            background-color: white;
            height: 100%;
            right: -20px;
             top: 0;
        }
        .app
        {
            position: relative;
            display: flex;
            flex-direction: column;
            img 
            {
                width: 150px;
                margin-left: 20px;
            }
        }
        .Download
        {
            max-width: 200px;
            text-align: center;
        }
        
    }
    @media screen and (max-width:1242px) {
        .container-fluid
        {
        //  flex-direction: column;
        flex-wrap: wrap;
         justify-content: center;

         ul:not(:nth-child(5))::after{
            position: absolute;
            content: "";
            width: 0;
            height: 0px;
        }
        }
    }
   
}