$forth:#3D1F50;
$fifth:#E6F6FF;
.RentSuvDubaiCursel
{
.main_img
{
    span 
    {
        background-color: #E6F6FF;
        border-radius: 5px;
        color: #343434;
       cursor: pointer;
    }
}
    .nav-pills
    {
        border-bottom: 5px solid gray;
        display: flex;
        justify-content: space-between;
        li 
        {
            button
            {
              border: none;
              background-color: transparent;
             font-size: 25px;
             color: #979797;
            }
            .active
            {
            //    border-bottom: 3px solid black;
               position: relative;
               color: black;
            }
            .active::after
            {
             position: absolute;
             content: "";
             width: 100%;
             height: 5px;
             background-color: #3D1F50;
            bottom: -4.5px;
            left: 0;
            }

        }
    }
    .tab-content
    {
        h3 
        {
            color: black;
            font-weight: 600;
        }
    }
    .new_feature
    {
        margin-top: 100px;
        h3 
        {
            color: black;
        }
    }
    .feature_details
    {
        ul 
        {
            list-style: none;
            li 
            {
                margin-bottom: 10px;
                font-size: 15px;
            }
        }
        .pricing
        {
            li 
            {
                text-align: center;
                background-color: #E6F6FF;
                padding: 2px 15px;
                font-size: 18px;
                div
                {                    
                    width: 70px;
                }
            }
        }
    }
.details
{
    .contact
    {
       ul
       {
        li 
        {
         display: flex;
         align-items: center;
            i 
            {
                background-color: $fifth;
                color: $forth;
                // padding: 5px;
                margin-right: 5px;
                width: 40px;
                height: 40px;
                display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
            }
            span 
            {
                font-size: 12px;
                font-weight: 600;
                color: $forth;
            }
        }
       } 
    }
 
        img 
        {
            width: 100px;
            margin-top: 15px;
        }
    
}
@media screen and (max-width:991px) {
    .details
    {
        border-top: 3px solid #343434;
        margin-top: 20px;
        padding-top: 20px;
    }
}
@media screen and (max-width:769px) {
    .feature_details
    {
        flex-wrap: wrap;
        ul 
        {
            margin: auto;
        }
    }
}
@media screen and (max-width:516px) {
    .nav-pills
    {
        border-bottom: 5px solid gray;
        display: flex;
        justify-content: space-between;
        li 
        {
            button
            {
             font-size: 17px;
            }

        }
    }
}
}